<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://www.kde.org/" target="_blank"><img src="images/kde-logo.png"/> Setting Goals</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>How does the KDE community decide where it wants to take the project? Well, every once in a while, we hold a Request for Proposals, if you will. All members of the community are encouraged to submit their grand ideas which will lay out long-term targets. Proposals are voted on democratically, again, by the community. This ensures it is truly the community that guides the KDE project to wherever the community wants it to go.</p>
                    <p>This year, the three most voted proposals have been:</p>
                    <p><b><a href="https://phabricator.kde.org/T6831" target="_blank">Top-notch Usability and Productivity for Basic Software</a></b>. Nate Graham proposes improving the usability of KDE's software and making it more accessible and user-friendly for a wider variety of users. Nate argues that, although KDE apps and environments in general boast a "long list of features that are genuinely useful for normal people's typical use cases", small but noticeable inconsistencies and niggling usability issues sometimes mar KDE's semblance of maturity with casual users. Nate reasons that focusing on irksome details of the most common and commonly used of KDE's software, such as Plasma, Dolphin, Okular and Discover, would be the first step towards polishing the whole. He mentions, for example, the annoying bug that makes Plasma require the Wifi password twice; or enhancements that can be made to Dolphin to support column view or colourised files and directories, like MacOS X's file browser sports; or improving Okular's stamp feature to make it suitable for digitally signing documents. KDE's environments and applications are mature and usable to a great extent, but by getting small incremental improvements, we can nearly subliminally improve the overall feel of the project and increase its uptake with the general public.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>This is especially true since KDE has been developing not only for desktop devices, but also for mobile - an area where the respect for users' privacy is nearly non-existent. Sebastian thinks that the intrusion on users’ personal lives is very dangerous. Users can have their livelihood and even personal safety put at risk when their confidential data makes its way into the hands of unscrupulous companies or hostile government agencies. To make sure KDE environment and apps protect users’ privacy, Sebastian lists several measures that developers can implement. He proposes that applications not expose private data by default, asking the user for explicit consent before sending data to third parties. Other measures would involve apps using privacy-protecting protocols when communicating with the outside world; say, a widget should use Tor to collect weather information. Applications should also only require the bare minimum user information to operate and only when it is essential. Finally, the proposal explains that KDE must provide the right tools to further safeguard users' privacy. These tools include email clients that offer easy ways of encrypting messages, privacy-protecting chat and instant messaging protocols and clients, and support for online services that can be implemented on personal servers.</p>
                    <p><b><a href="https://phabricator.kde.org/T7116" target="_blank">Streamlined Onboarding of New Contributors</a></b>. Although we have made many improvements to KDE's development infrastructure and tools over the years, there are still several things we can do to streamline the access for contributors, says Neofytos Kolokotronis. Thinking of ways to get more people involved in the development, Neofytos proposes measures to simplify newcomer participation within KDE. KDE is a living community and, as such, it is threatened if new users do not become contributors and therefore do not join its ranks, bringing in new blood and fresh ideas.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p><b><a href="https://phabricator.kde.org/T7050" target="_blank">Privacy Software</a></b>. In synch with <a href="https://dot.kde.org/2016/04/05/kde-presents-its-vision-future" target="_blank">KDE's vision</a>, Sebastian Kugler says that "KDE is in a unique position to offer users a complete software environment that helps them to protect their privacy". Being in that position, Sebastian explains, KDE as a FLOSS community is morally obliged to do its utmost to provide the most privacy-protecting environment for users.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>To solve this potential problem, Neofytos wants the community to look at methods of incrementing user involvement. This will require analysing the available resources, especially the people and time that they can invest in this effort. He also proposes KDE improve and standardise protocols for accepting and mentoring new users, as well as correcting issues with documentation and tools used to receive new contributions, such as <a href="https://bugs.kde.org/" target="_blank">KDE's bug tracking system</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
