<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://hkoscon.org/2017/" target="_blank"><img src="images/hkoscon.png"/> Hong Kong Open Source Conference 2017</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p><a href="https://hkoscon.org/2017/" target="_blank">Hong Kong Open Source Conference</a> (HKOSCon) is an open source event held in Hong Kong which aims to showcase and promote open source projects and activities happening across the globe. This year, HKOSCon took place from 9th to 10th of June. Heena Mahour presented a talk titled "KDE: Journey of a SoK student to GCI organization administrator". Heena discussed her experience as a <a href="https://season.kde.org/" target="_blank">Season of KDE</a> student, which was her first time contributing to KDE. She explained how she continued contributing to KDE after the project.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>Heena talked about recent trends in Season of KDE (the KDE community outreach program), and provided an insight into Plasma projects as an example of the scale of KDE teams and software. Heena also discussed the contributions made by KDE in <a href="https://codein.withgoogle.com/archive/" target="_blank">Google Code-In</a>, encouraging the students to join the project. She provided information about <a href="http://gcompris.net/index-en.html" target="_blank">GCompris</a>, and <a href="https://userbase.kde.org/Pairs" target="_blank">Pairs</a>, presented a word cloud from Season of KDE Twitter posts, and listed the contributions she had made so far. Judging from Heena's experience, it is exciting and rewarding to help new contributors join the KDE community as a way of "paying it forward".</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
